.kehittamo-twitter-widgets-widget {
    max-width: 100%;
}
.kehittamo-twitter-widgets-topic {
    padding-left: 89px;
    min-height: 35px;
    background: url('../img/tw-blue.png') no-repeat 36px 0px;
    font-size: 1.3em;
}
.kehittamo-twitter-widgets-tweets {
    padding: 10px;
    max-height: 560px;
    overflow: auto;
    margin-bottom: 40px;
}
.kehittamo-twitter-widgets-tweet {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.kehittamo-twitter-widgets-profile-image-url {
    float: left;
}
.kehittamo-twitter-widgets-name {
    margin: 0 24px 10px 58px;
    font-size: 0.75em;
    font-weight: 900;
}
.kehittamo-twitter-widgets-screen-name {
    font-weight: 500;
}
.kehittamo-twitter-widgets-date {
    float: right;
    font-size: 0.75em;
    font-weight: 500;
    color: #ddd;
}
.kehittamo-twitter-widgets-text {
    margin: 0 0 0 58px;
    font-size: .75em;
    font-weight: 500;
}
.kehittamo-twitter-widgets-buttons {
    margin-top: 5px;
    text-align: right;
    height: 16px;
}
.kehittamo-twitter-widgets-buttons-reply, .kehittamo-twitter-widgets-buttons-retweet, .kehittamo-twitter-widgets-buttons-star {
    display: inline-block;
    margin-left: 10px;
    background: url('../img/tw-buttons.png') no-repeat;
    height: 16px;
    width: 16px;
}
.kehittamo-twitter-widgets-buttons-reply {
    &:hover { background-position: -16px; }
}
.kehittamo-twitter-widgets-buttons-retweet {
    width: 19px;
    background-position: -80px;
    &:hover { background-position: -99px; }
}
.kehittamo-twitter-widgets-buttons-star {
    background-position: -32px;
    &:hover { background-position: -48px; }
}
.kehittamo-twitter-widgets-loadmore {
    text-align: center;
}
